<!DOCTYPE html>
<html ng-app="youtube">
<head>
   <meta charset="utf-8" >
   <meta name="viewport" content="width=device-width, initial-scale=1.0/">
    <title>YA</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link href="https://fonts.googleapis.com/css?family=Slabo+27px" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="main.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.js"></script>

    <script src="app.js"></script>
</head>
<body>


<div class="wrap">
    <div class="container container-fluid">

    <div ng-controller="VideosController" >

            <h1 class="h1 text-center">My Personal YOUtube </h1>
        <div class="underline">

        </div>
         <!-- <div class=" row text-center" >
          <div class="col-md-4 col-md-offset-2">
                <button class="btn btn-lg" ng-class="{'btn-warning':last.tab == 1}" ng-click="last.selectTab(1)">Новое</button>
            </div>
            <div class="col-md-4"   >
                <button class="btn btn-lg" ng-class="{'btn-warning':last.tab == 2}" ng-click="last.selectTab(2)" >Избранное</button>
            </div>
            </div>  -->

            <uib-tabset>
                <uib-tab index="0" heding="Search" active="active" class="nav">
                       <form novalidate name="search"  class="form">
                        <div class="form-group">
                            <input class="form-control" placeholder="Text input" required type="text" ng-model="searchSettings.query"/>
                        </div>
                        <div class="form-group">
                            <select class="form-control" ng-options="option.value as option.title for option in regions" ng-model="searchSettings.regions">
                            </select>
                        </div>
                        <div class="form-group">
                             <button class="btn btn-info" ng-disabled="!search.$valid" ng-click="searchVideos()">Searchh</button>
                        </div>
                            {{search.$valid}}
                    </form>
                    {{searchSettings.query}}
                    <div class="row" >
                        <video-item ng-repeat="video in searched | orderBy: 'views'"> </video-item>
                    </div>

                </uib-tab>
                <uib-tab index="1" heding="last" class="nav ">

                    <div class="row" >
                        <video-item ng-repeat="video in videos | orderBy: 'views'"> </video-item>
                    </div>

                </uib-tab>
                <uib-tab index="2" heding="Fav" class="nav ">
                    <div class="row" >
                        <video-item   ng-repeat="video in favorites | orderBy: 'views'" > </video-item>
                    </div>

                </uib-tab>
            </uib-tabset>

    </div>
    </div>

        <footer class="footer">
            <p class="footer-text"> Изучение Angular на практике. Задание Заславской Анастасии. 28/11/16 </p>

        </footer>
</div>







</body>
</html>