body {
    color: #000;
    font-family: 'Slabo 27px', serif;
}
.wrap {position: relative;
    background-image: url("header.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    min-height: 800px;

}

.h1 {
  padding: 55px;
    color: aliceblue;
    font-size: 55px;
   }

.underline {
    border-bottom: 1px solid #ffffff;
    margin-top: -50px;
    margin-bottom: 50px;
    margin-left: 26%;
    width: 50%;
    text-align: center;
}

.h2 {
    color: white;
    margin-bottom: 30px;
}

.text-center {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}

.block {
    display: inline-block;
    float: left;
    padding-top:  20px;
}

.block > p {
    margin: 15px 0px;
    color: #ffffff;
    font-size: 16px;
}
.views , .descr {
    padding-top: 20px;
    color: beige;
    font-size: 18px;
    font-weight: 600;
}

.footer {
    max-height: 150px;
    text-align: center;
    vertical-align: baseline;
    padding: 50px;
}

.footer-text {
    text-align: center;
    color: #cccccc;
}